---
http_interactions:
- request:
    method: get
    uri: http://apps.fcc.gov/ecfs/proceeding/view?name=14-261
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=UTF-8
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: "\r\n\r\n\r\n\r\n\r\n\r\n\r\n<!DOCTYPE HTML PUBLIC \"-//W3C//DTD HTML
        4.01//EN\" \"http://www.w3.org/TR/html4/strict.dtd\">\r\n\r\n<html lang=\"en\">\r\n<head>\r\n<title>Proceeding
        14-261</title>\r\n<meta HTTP-EQUIV=\"Content-Type\" content=\"text/html; charset=UTF-8\">\r\n<meta
        name=\"Resource-Type\" content=\"document\">\r\n<meta name=\"Author\" content=\"CGB
        System Support Office\">\r\n<meta name=\"Description\" content=\"Federal Communications
        Commission\">\r\n<meta name=\"Keywords\" content=\"filing,ECFS,Electronic/email,FCC,Acrobat
        Reader,paper filings,Acrobat Reader Support\">\r\n<META HTTP-EQUIV=\"CACHE-CONTROL\"
        CONTENT=\"NO-CACHE\">\r\n\r\n<!-- \r\n    \t<link type=\"text/css\" rel=\"stylesheet\"
        href=\"/ecfs/asset/js/ui.datepicker.css\"/>\r\n    \t<script type=\"text/javascript\"
        src=\"/ecfs/asset/js/jquery-1.3.1.min.js\"></script>\r\n    \t<script type=\"text/javascript\"
        src=\"/ecfs/asset/js/ui.datepicker.js\"></script>\r\n    -->\r\n<script type=\"text/javascript\"\r\n\tsrc=\"/ecfs/asset/js/jquery-1.10.2.min.js\"></script>\r\n<script
        type=\"text/javascript\"\r\n\tsrc=\"/ecfs/asset/js/jquery-ui-1.10.3.custom.js\"></script>\r\n<script
        type=\"text/javascript\"\r\n\tsrc=\"/ecfs/asset/js/jquery.autocomplete.js\"></sc[...]
