---
http_interactions:
- request:
    method: post
    uri: https://apps.fcc.gov/edocs_public/Query.do?mode=advance&rpt=cond
    body:
      encoding: US-ASCII
      string: docket=14-261
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=ISO-8859-1
    body:
      encoding: UTF-8
      string: "\n \n\n\n\n\n    \n<!DOCTYPE HTML>\n<!--[if lt IE 7]>      <html class=\"no-js
        lt-ie9 lt-ie8 lt-ie7\"> <![endif]-->\n<!--[if IE 7]>         <html class=\"no-js
        lt-ie9 lt-ie8\"> <![endif]-->\n<!--[if IE 8]>         <html class=\"no-js
        lt-ie9\"> <![endif]-->\n<!--[if gt IE 8]><!--> <html lang=\"en\" class=\"no-js\">
        <!--<![endif]-->\n\n<head>\n<meta charset=\"utf-8\">\n<meta http-equiv=\"X-UA-Compatible\"
        content=\"IE=edge,chrome=1\">\n<title>EDOCS Search Result&laquo; EDOCS &laquo;
        FCC</title>\n<meta name=\"description\" content=\"FCC EDOCS Search\">\n<meta
        name=\"author\" content=\"Federal Communications Commission - FCC\">\n<meta
        name=\"viewport\" content=\"width=device-width\">\n<link rel=\"stylesheet\"
        href=\"css2/bootstrap.min.css\">\n<link rel=\"stylesheet\" href=\"css2/datepicker.css\">\n<link
        rel=\"stylesheet\" href=\"css2/styles.css\">\n<link rel=\"stylesheet\" href=\"css2/fcc.css\">\n<link
        rel=\"shortcut icon\" href=\"img/fcc_favicon.ico\" type=\"image/x-icon\">\n<script
        src=\"js/libs/modernizr-2.6.1.custom.js\"></script>\n</head>\n<body>\n    \n
        \   <header role=\"header\">\n  <div class=\"jumpLinks\">\n   <a href=\"#skiptarget1\"
        class=\"visuallyhidden focusable\">Skip to main content</a>\n   \n   <a href=\"#skiptarget3\"
        class=\"visuallyhidden focusable\">Skip to footer and contact information</a>
        \n  </div>\n  <div class=\"container-fluid\" id=\"fcc-banner\">\n\t\t\n        <a
        href=\"http://www.fcc.gov\"> <img \n                title=\"Go to the Federal
        Communications Commission homepage at www.fcc.gov\" \n                alt=\"Go
        to the Federal Communications Commission homepage at www.fcc.gov\" \n                src=\"img/navFCC.gif\">
        </a>\n        <h1>Electronic Document Management System (EDOCS)</h1>\n\n\t</div>
        \ \n</header>\n    <div id=\"pg-head\">\n        <div class=\"row\">\n            <div
        class=\"span8\">\n                <h2>EDOCS Search Result</h2>\n            </div>\n
        \       </div>\n    </div>     \n    <table class=\"tableWithOutBorder\">\n
        \    \n            \n            <tr>\n                <td class=\"sideMenu\">
        <nav id=\"sidebar\" class=\"span2\" role=\"navigation\"><a class=\"visuallyhidden\"
        id=\"skiptarget1\" name=\"skiptarget1\" tabindex=\"-1\"></a>\n    <ul class=\"nav
        nav-list\">\n        <li><a href=\"edocsLink.do?mode=basic&amp;type=n\" title=\"EDOCS
        Advance Search\">EDOCS Home</a></li>\n        <li><a href=\"edocsLink.do?mode=advance&amp;type=n\"
        title=\"EDOCS Advance Search\">EDOCS Advanced Search</a></li>\n        <li><a
        href=\"edocsLink.do?mode=definitions\" title=\"EDOCS Search Field Definitions\">Definitions</a></li>\n
        \       <li><a href=\"edocsLink.do?mode=instructions\" title=\"EDOCS Search
        Tips\">Search Tips</a></li>\n        <li><a[...]
